{{#each people}}

<P>{{this}}</P>
{{/each}}


<p>Another way</p>

{{#each people}}

<P>{{.}}</P>
{{/each}}

<p>Another way</p>

{{#each people as |value key|}}

<P>{{key}}:{{value}}</P>
{{/each}}


<h2>
    Accessing object
</h2>

{{#each user}}

<P>{{this}}</P>
{{/each}}


<p>Another way</p>

{{#each user}}

<P>{{.}}</P>
{{/each}}

<p>Another way</p>

{{#each user as |value key|}}

<P>{{key}}:{{value}}</P>
{{/each}}

<h1>Nested Loop</h1>
{{#each lists as |xvalue xkey|}}

{{#each xvalue.items as |yvalue ykey|}}
<P>{{yvalue}}</P>
{{/each}}



{{/each}}